
.cart-container {
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    margin-left: 300px;
    margin-top: 80px;
    color: white;
}

.cart-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 125px;
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cart-items {
    flex: 1;
    min-width: 300px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #202020;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
    margin-left: 20px;
}

.cart-item-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 16px;
    margin-bottom: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.cart-item-total {
    text-align: right;
}

.remove-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.cart-summary {
    flex: 1;
    min-width: 250px;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
}

.cart-summary h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total {
    font-weight: 700;
}

.checkout-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
