.trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.trending h1{
    margin-left: -1300px;
    margin-top: 130px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.trending-item{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    gap: 30px;
    color:white;
}