.navbar {
    display: flex;
    height: 90px;
    justify-content: space-around;
    padding: 5px;
    position: sticky;
    top: 0;
    background: #151515;
    z-index: 100;
}
.nav-logo {
    display: flex;
    align-items: center;
    margin-left: -100px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr {
    border: none;
    width: 50%;
    height: 2px;
    border-radius: 10px;
    background: black;
}
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    width: 80px;
    height: 40px;
    outline: none;
    border: 1px solid white;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active {
    background: #151515;
}
.nav-cart-count {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 10px;
    background: red;
    color: #151515;
}
.nav-menu Link {
    color: black;
}
@media (max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }
    .nav-logo img {
        width: 150px;
    }
    .nav-logo p {
        font-size: 25px;
    }
}
.nav-search {
    display: flex;
    align-items: center;
}
.nav-search form {
    display: flex;
}
.nav-search input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}
.nav-search button {
    height: 40px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background: white;
    color: black;
    cursor: pointer;
}
.nav-search button:active {
    background: #151515;
    color: white;
}
