.knives{
    margin-top: 50px;
    color: white;
    padding: 20px;
    margin-left: 200px;
    
}
.knives h1{
    margin-bottom: 20px;
    
}
.all-knives{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
