
.dropdown-menu{
    position:absolute;
    width: -150px;
    top: 60px;
    left: 750px;
    list-style: none;
    text-align: start;
    z-index: 1;
    background: #242424;
}
.dropdown-menu li {
    background: #242424;
    cursor: pointer;
}

.dropdown-menu li:hoover {
    background: #151515;
}

.dropdown-menu.clicked {
    display: none;
}

s
.dropdown-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    top: 20px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 13px;
}

.dropdown-menu img{
    margin-left: -35px;
    top: -25px;
}